[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
python-dotenv = "*"
espnet-model-zoo = "*"
pyopenjtalk = "*"
torch = "*"
playsound = "==1.2.2"
espnet = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.13"
