[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = false
name = "pytorch"

[packages]
python-dotenv = "*"
espnet-model-zoo = "*"
pyopenjtalk = "*"
playsound = "==1.2.2"
espnet = "*"
speechrecognition = "*"
torch = { index="pytorch"}
torchvision = { index="pytorch"}
torchaudio = { index="pytorch"}
soundfile = "*"
pyaudio = "*"
langchain = "*"
langchain-openai = "*"
chromadb = "*"
typeguard = "==2.13.3"
pyobjc = "*"
scipy = "==1.10.0"
openai-whisper = "*"

[dev-packages]
g2pk = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.13"
