version: '3.7'
networks:
  myapp:

services:
  app:
    container_name: "myapp"
    user: root
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
      args:
        # Update 'VARIANT' to pick a version of Python: 3, 3.10, 3.9, 3.8, 3.7, 3.6
        # Append -bullseye or -buster to pin to an OS version.
        # Use -bullseye variants on local arm64/Apple Silicon.
        VARIANT: "3.10-bullseye"
    volumes:
      - ..:/workspace:cached
    ports:
      - "8080:8080"
    networks:
      - myapp
    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity